<?xml version='1.0' encoding='UTF-8'?>
<Root>
    <ZQ>
    <CC picpath="D:\系统数据\灾害应急响应决策支持系统\01. 灾前模块\03. 赤潮灾害风险评估数据" ></CC> //灾前赤潮风险损失评估
	<WX picpath="D:\系统数据\灾害应急响应决策支持系统\01. 灾前模块\04. 卫星遥感数据" ></WX> //灾前卫星遥感监测数据
	<CZ picpath="D:\系统数据\灾害应急响应决策支持系统\01. 灾前模块\02. 高清船载视频实时监测数据" ></CZ> //灾前高清船载视频实时监测数据
	<HY_FB datapath="D:\系统数据\灾害应急响应决策支持系统\01. 灾前模块\01. 海洋环境监测数据\01. 浮标数据" ></HY_FB> //灾前 海洋环境监测数据 浮标数据
<ZZ_HY_ZH datapath="D:\系统数据\灾害应急响应决策支持系统\01. 灾前模块\01. 海洋环境监测数据\04.走航数据" ></ZZ_HY_ZH> //灾前 海洋环境监测数据 走航数据
<ZQ_HY_XC datapath="D:\系统数据\灾害应急响应决策支持系统\01. 灾前模块\01. 海洋环境监测数据\02. 赤潮监控区数据" ></ZQ_HY_XC> //灾前 海洋环境监测数据 现场数据

	<ZH_CC picpath="D:\系统数据\灾害应急响应决策支持系统\03. 灾后模块\02. 赤潮灾害损失评估数据" ></ZH_CC> //灾后赤潮风险损失评估
	<ZH_HY_FB datapath="D:\系统数据\灾害应急响应决策支持系统\03. 灾后模块\01. 海洋环境监测数据\01. 浮标数据" ></ZH_HY_FB> //灾后 海洋环境监测数据 浮标数据
<ZH_HY_ZH datapath="D:\系统数据\灾害应急响应决策支持系统\01. 灾前模块\01. 海洋环境监测数据\04.走航数据" ></ZH_HY_ZH> //灾后 海洋环境后监测数据 走航数据
<ZH_HY_XC datapath="D:\系统数据\灾害应急响应决策支持系统\03. 灾后模块\01. 海洋环境监测数据\02. 赤潮监控区数据" ></ZH_HY_XC> //灾后 海洋环境后监测数据 现场数据

<ZZ_CZT picpath="D:\系统数据\灾害应急响应决策支持系统\02. 灾中模块\01.承灾体空间分布图" ></ZZ_CZT> //灾中 承载体分布专题图
<ZZ_CC picpath="D:\系统数据\灾害应急响应决策支持系统\02. 灾中模块\02. 赤潮卫星遥感监测结果" ></ZZ_CC> //灾中 赤潮位置分布
<ZZ_CC_PYYC picpath="D:\系统数据\灾害应急响应决策支持系统\02. 灾中模块\04. 赤潮漂移预测" ></ZZ_CC_PYYC> //灾中 赤潮漂移预测
<ZZ_HY_FB datapath="D:\系统数据\灾害应急响应决策支持系统\02. 灾中模块\01. 海洋环境监测数据\01. 浮标数据" ></ZZ_HY_FB> //灾中 海洋环境监测-浮标
<ZZ_CZ_AVI datapath="D:\系统数据\灾害应急响应决策支持系统\02. 灾中模块\03. 高清船载视频实时监测数据" ></ZZ_CZ_AVI> //灾中 高清船载视频实时监测数据
<SYSTEMEXE filepath="C:\Windows\System32\notepad.exe" ></SYSTEMEXE> //灾中 赤潮运移轨迹可视化预警平台


	</ZQ>
   
   
</Root>
